p{
    border-style: ridge;
    border-color: brown;
    padding: 20px;
}
.centered{
    position: absolute;
    top: 22.4%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color: rgb(15, 66, 15);
    font-size: xx-large;
    background-color: rgb(15, 66, 15);
    color:blanchedalmond
}
h4{ 
    text-align: center;
    border-style: ridge;
    border-color: brown;
}


header {
    text-align: center;
  }

  body{
    font-family: sans-serif;
  }
 

  